html {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    border-bottom: 1px solid seashell;
}

header img {
    height: 50px;
    margin-left: 10px;
    padding-left: 10px;
}

body {
    margin: 0;
    padding: 0;
}

.header-links a {
    margin: auto 10px;
    color: seashell;
}